{{ app_subdomain }}.{{ domain_name }} {
	tls {
        dns cloudflare {{ dns_challenge_api_token }}
		resolvers 1.1.1.1
	}
	reverse_proxy minio:9000
	log {
		hostnames {{ app_subdomain }}.{{ domain_name }}
        format json
		output file /var/log/caddy/{{ app_subdomain }}.{{ domain_name }}.log
	}
}


console.{{ app_subdomain }}.{{ domain_name }} {
	tls {
        dns cloudflare {{ dns_challenge_api_token }}
		resolvers 1.1.1.1
	}
	reverse_proxy minio:9001
	log {
		hostnames console.{{ app_subdomain }}.{{ domain_name }}
        format json
		output file /var/log/caddy/console.{{ app_subdomain }}.{{ domain_name }}.log
	}
}
